{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Backend rating{% endblock %}</h1>
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Чак Норрис</td>
      <td>99999</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Tester</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Querida</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
{% endblock %}