{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Backend rating{% endblock %}</h1>
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
  {% for s in students %}
    {% if g.user.username == s.username %}
        <tr style="font-weight: bold">
    {% else %}
        <tr>
    {% endif %}
        <th scope="row">
        {% if loop.index > limit %}
            Вы
        {% else %}
          {{loop.index}}
        {% endif %}
        </th>
        <td>{{s.username}}</td>
        <td>{{s.grade}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}