{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Backend rating{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><h2>TOP 5 students</h2></div>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 25px;">#</th>
          <th>Name</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
      {% for s in students %}
        {% if g.user.username == s.username %}
            <tr style="font-weight: bold">
        {% else %}
            <tr>
        {% endif %}
            <th scope="row">
            {% if not g.user.is_admin and loop.index > limit %}
                Вы
            {% else %}
              {{loop.index}}
            {% endif %}
            </th>
            <td>{{s.username}}</td>
            <td>{{s.grade}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}