{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lectures{% endblock %}</h1>
{% endblock %}

{% block content %}

    <form method="post">
        <div class="radio">
          <label><input type="radio" name="optradio" checked>1 Lecture</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio">2 Lecture</label>
        </div>
        <div class="radio disabled">
          <label><input type="radio" name="optradio" disabled>3 Lecture</label>
        </div>
        <input type="submit" value="Log In">
    </form>
{% endblock %}